:root{
	--white--color:#fff;
	--black--color:#000;
	--text--color:#333;
}
html{
	font-size: 62.5%;
	line-height: 1.6rem; /* 1.6rem = 16px*/
	box-sizing: border-box;
	font-family: sans-serif;
	scroll-behavior: smooth;
	margin: 0px auto;

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*animation sub__cart*/
@keyframes subCart{
    from{
        transform: scale(0);
    }
    to{
        transform: 1;
    }
}

/*animation sub__user*/
@keyframes subUser{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
/*Modal */
.modal{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 99999999;	
	align-items: center;
	justify-content: center;
	display: none;
	animation:fadeIn ease 0.4s;
}
.open{
	display: flex;
}

.modal__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal__register{
	width: 600px;
	min-height: 400px;
	background-color: white;
	margin: auto;
	position: relative;	
	border-radius: 3px;
}
.modal__header{
	height: 80px;
	line-height: 80px;
	text-align: center;
	
	color: #3b3b3b;
	
}
.modal__header-text{
	font-size: 2.4rem;
}
.modal-icon{
	cursor: pointer;
	height: 10px;
	line-height: 10px;
	margin-left: 500px;
	font-size: 3rem;
	margin-top: 10px;
	
}
.modal__container{
	height: 200px;	
}
.modal__input{
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #ccc;
	margin-top: 8px;
	border-radius: 4px;
}
.modal__input input{
	height: 40px;
	width: 100%;
	font-size: 1.6rem;
	padding: 6px 10px;
	border: none;
	color: var(--black--color);
}
.modal__footer{
	
	height: 100px;
}
.modal__text{
	padding-top: 10px;
	padding-bottom: 30px;
}
.modal__text p{
	margin-left: 20px;
	margin-right: 20px;
	font-size: 1.2rem;
}
.modal__text p span{
	color: red;
}
.modal__register-btn{
	float:right;
	margin-bottom: 10px;
	margin-right: 20px;	
}
.modal__register-back{
	
	padding: 10px 40px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 1.4rem;
	border-radius: 2px;
	margin-right: 10px;
}
.modal__register-next{
	padding: 10px 40px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 1.4rem;
	border-radius: 2px;
}
.modal__login{
	width: 600px;
	height: 350px;
	background-color: white;
	margin: auto;
	position: relative;	
	border-radius: 3px;
	
}
.modal__login-back{
	
	padding: 10px 40px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 1.4rem;
	border-radius: 2px;
	margin-right: 10px;
}
.modal__login-next{
	padding: 10px 40px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 1.4rem;
	border-radius: 2px;
}
.modal1{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 99999999;	
	align-items: center;
	justify-content: center;
	display: none;
	animation:fadeIn ease 0.4s;
}
.open1{
	display: flex;
}

@keyframes fadeIn {
	from{
		transform: translateY(-150px);
	}
	to{
		transform: translateY(0px);

	}
}




